.about {
  padding: 1rem;
  background: $c-black;
  color: $c-white;
  font-family: bitter;
  text-align: center;
}

.summary {
  max-width: 45rem;
  margin: 0 auto;
  padding: $m-gutter 0;

  &__header {
    max-width: 15rem;
    margin: 0 auto;
    padding: $m-gutter;
    border-bottom: 1px solid $c-underline;
    font-family: bitter;
  }

  &__item {
    margin: ($m-gutter * 2) 0;
    font-family: inherit;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    line-height: 2rem;
    text-align: left;
    text-indent: $m-gutter * 2;
  }

}
