

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  background:
  url('images/jacque-hero.JPG')
  center / cover
  no-repeat
  fixed;
  color: $c-sauce;
  font-family: $f-marquee;

  &__header {
    margin-top: 2rem;
    font-size: 6rem;
    letter-spacing: 0.5rem;
  }

  &__sub-header {
    width: 20rem;
    margin: 0 auto;
    padding: $m-gutter 0;
    border: 2px solid $c-white;
    border-radius: 2px;
    color: $c-white;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    text-align: center;
  }
}
//
