
// Could think about putting all nav items in one div so evenly spaced
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0 ($m-gutter * 4);
  background: $c-black;

  &__left {
    display: flex;
    color: $c-dim;
    font-family: $f-header;
    margin: 0;
  }

  &__title {
    color: $c-white;
    font-family: $f-marquee;
    font-size: 4rem;
    margin: 0;
  }

  &__right {
    display: flex;
    color: $c-dim;
    font-family: $f-header;
    margin: 0;
  }

  &__tab {
    margin: $m-gutter;
    align-self: center;
  }

  &__tab:hover {
    color: $c-white;
  }
}
