
// Could think about putting all nav items in one div so evenly spaced
.nav {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0 ($m-gutter * 4);
  background: $c-black;
  opacity: 0.75;

  & a {
    align-self: center;
    color: $c-dim;
    text-decoration: none;
  }

  &__left {
    display: flex;
    // justify-content: space-around;
    margin: 0;
    color: $c-dim;
    font-family: $f-header;
  }

  &__title {
    margin: 0 ($m-gutter * 3);
    color: $c-white;
    font-family: $f-marquee;
    font-size: 4rem;
  }

  &__right {
    display: flex;
    margin: 0;
    color: $c-dim;
    font-family: $f-header;
  }

  &__tab {
    margin: $m-gutter;

    &:hover {
      color: $c-white;
      cursor: pointer;
    }
  }
}
